.progress-container {
    width: 50%;
    background-color: #f0f0f0;
  }
  
  .progress-bar {
    width: 0%;
    height: 20px;
    background-color: #4caf50;
  }
  
.perfil{
  position: fixed;
  width: 300px;
  border-style: solid;
  border-radius: 20%;
  padding: 10px;
  top: 5%;
  right: 5%;
}

  .foto{
    width: 80px;
  }

  .mapa{
    border-style: solid;
    margin-right: 50%;
    padding: 20px;
  }

  .mercado{
    margin-right: 50%;
  }